@font-face {
  font-family: "DejaVuSans";
  src: local("DejaVu Sans"), local("DejaVuSans"), url("/DejaVuSans.ttf") format("truetype");
  font-display: swap;
}
@layer {
	figure, ul, ol, li {padding:0;margin:0}
	html {
		color-scheme: dark light;
		&:has(input[value="☀"]:checked) {
		  color-scheme: only light}
		&:has(input[value="🌙"]:checked) {
		  color-scheme: only dark}
	 	--height-header: max(1cm,calc(20cqi * 674/1219) + 3px);
		--main-inline-margin : 1cqi;
		--frame: thin solid light-dark(canvasText,green);
		--emphasis-color: light-dark(midnightblue,gold);
		--color-link: light-dark(blue,turquoise);
		--visited: light-dark(purple,violet);
		--target-heading: red;
		--max-body-width: min(100%,29cm);
		align-content: center;
		block-size:100%;
		font-size: 24px;
		font-family: "DejaVuSans";
	}
	body {
		display:flex;
	    font-variant-ligatures: contextual;
		overflow-wrap: break-word;
		inline-size: var(--max-body-width);
		block-size: var(--max-body-width);
		margin: auto;
		contain: strict;
		container: body / size;
		>* {overflow:auto;
			scrollbar-width:none;
			}
	}
	a:empty {text-decoration:unset;display:inline-block;block-size:0}
	main {
		inline-size:100%;
		anchor-name: --main-anchor;
		counter-set: externalEmptyCounter 0;
		::marker {color:var(--emphasis-color)}
		container: inline-size;
		> * {padding-inline-start:var(--main-inline-margin)}
		> figure:has(>blockquote) {
			padding: unset;
			margin-inline-start:var(--main-inline-margin)}
		a {	text-decoration: var(--color-link) underline;
			text-decoration-thickness: 1.5px;
			text-underline-position: under;
			&[rel^="external"][aria-label] {counter-increment: externalEmptyCounter}
			&[rel^="external"][aria-label]::after {
				content: counter(externalEmptyCounter);
				outline: thin solid currentColor}
			&::after {color: var(--color-link)}
			&:visited {text-decoration-color: var(--visited)}
			&:visited::after {color: var(--visited)}}
		blockquote, figcaption div {
			background-color: color-mix(in oklch, canvas 90%,canvasText)};
		figure{
			inline-size: 45%;           /* Flexible sizing */
			max-inline-size: var(--data-max-width, 512px);  /* Hard cap */
			}
		> header {
			padding:unset;
			outline: var(--frame);
			display:flex;
			block-size:var(--height-header);
			place-items:center;
			input {
				display:none;
				background: canvas;
				font-size:1lh;
				transition: background .5s 0s, color .5s 0s, rotate .5s 0s;
				&::before {content: "☰"}
				&:checked {rotate: 90deg}
			}
		}
	}
	ul.carousel {
		display: flex;
	  	overflow-x: auto;
		scrollbar-width:none;
		anchor-name: --carousel;
	  	scroll-snap-type: x mandatory;
	  	scroll-behavior: smooth;
	  	img:hover {filter:unset !important}
	  	figcaption {font-size:1em}
		&::scroll-button(*) {
			font-size:2.2rem;
			z-index: 1;
			position: absolute;
			opacity:0;
			background:unset;
			color:black;
			transition: all 2s;
			position-area: center;
			position-anchor: --carousel; }
		&::scroll-button(*):enabled {opacity:1}
		&::scroll-button(right) {
			content: ">";
			justify-self:right; }
		&::scroll-button(left) {
			content: "<";
			justify-self:left; }
		li{	display:contents;
			scroll-snap-align: center;
		    flex-shrink: 0;
		    display: inline-flex;
		    align-items: center;
		}	
	}
	body>header{
		anchor-name: --body-header;
		&::scroll-button(*){
			opacity:0;
			position-anchor: --body-header;
			z-index:1;
			position:absolute;
			top: anchor(top);
			width:1cm;
			height:1cm;
			padding:0;
			background: oklch(from canvas l c h / .8);
			border:unset;
			border-radius: 90%;
			font-size:50px}
		&::scroll-button(*):enabled{opacity:1}
		&::scroll-button(down){
			right: anchor(right);
			top: calc(anchor(top) + 2ch);
			content: "🠧"}
		&::scroll-button(up){
			right: anchor(right);
			content: "🠥";}
		position:relative;
		>a:first-child {justify-items:center;contain:content}
		transition: opacity .5s;
		container-type: inline-size scroll-state;
		&:is(:hover,:focus-within) {opacity:revert}
		* {font-size: min(calc(13px + 5cqi),22px)}
		svg {color: canvasText}
		a:target-current, [aria-current="page"] {color: var(--emphasis-color);text-shadow: 1px 1px 1px currentColor}
		>a:last-child {
			inline-size:100%;
			position:absolute;
			&:not(:focus-visible) {content-visibility:hidden;}}
		a[data-emoji]::before {
		    content: attr(data-emoji);
		    display: inline-flex;
		    align-items: center;
		    justify-content: center;
		    inline-size: 24px;
		    block-size: 24px;
		    font-size: 24px;
		    contain: layout}
		figcaption {
			line-height: .8;
			text-align:center;
			font-variant: small-caps;
			font-size: min(17cqw,30px)}
		text-wrap-style: balance;
		outline: var(--frame);
		display:flex;
		flex-direction:column;
		flex: 0 0 20%;
		button {
			all: unset;
			text-align:center;
			inline-size: 24px;
			outline: var(--frame)}
		address a {display:block}
		> form{display:flex;}
		[download], ol+address {margin-block-start:auto}
		nav {scroll-target-group: auto;}
		ol {list-style-type:upper-roman;}
		ol ol {	list-style-type:roman}
		ol ol li{padding-inline-start: 3px}
		> ol {padding-inline: 1px}
		search+ol {
			border-bottom: var(--frame);
			li:last-child {border-top: thin dashed black}
		}
		search {	
			margin-block: 4px;
			border-bottom: var(--frame)}
	}
	input {
		inline-size:100%;
		background: unset;
		border: unset;		
		margin:0;
		appearance:none;
		text-align:center}
	[name=Theme] {
		font-size:25px;
		&::after{content: attr(value)}}
	ol.pagefind-ui__results {list-style:none}
	form.pagefind-ui__form {
	  display:grid; 
	  grid-template-columns:1fr auto; 
	  grid-template-areas:
	    "input button"
	    "results results";}
	div.pagefind-ui__drawer {
		grid-area:results;}
	.pagefind-ui__result-excerpt {font-size:.9em}
	.pagefind-ui__result-inner>.pagefind-ui__result-title {font-weight:bolder;}
	.pagefind-ui__result-title{
		text-align:center;
		outline:var(--frame)}
	.center {
		margin-inline:auto;
		inline-size: unset;
		max-inline-size: 100%;
		float:unset;
		clear:both;
		blockquote {text-align:revert}}
	ul.center {
		padding:0;
		display:grid;
		list-style:none;
		grid-auto-flow: column;
		grid-auto-columns: minmax(0, 1fr);
		figure {inline-size:100%}}
	.alert {
		padding:0;
		> * {padding-inline: var(--main-inline-margin)}
		border: medium solid var(--color);
		header {
			border-bottom: medium solid var(--color);
			&::before {content: var(--emoji)}}
		&:not(:has(header)) {
			&::before {content: var(--emoji)}}
	}
	.caution { --emoji: "🚨"; --color: red; }
	.warning { --emoji: "⚠️";	--color:  yellow}
	.important { --emoji: "❗"; --color: red}
	.tip {--emoji: "💡" }
	.note {--emoji: "💭";
		--color: lightblue; }
	ul {list-style-type: " ‒ "}
	ol, ul {list-style-position: inside}
	table {
		text-align:center;
		border-collapse: collapse;
		margin-inline:auto;
		empty-cells: hide;
		th, td {border:var(--frame)}
		font-size:clamp(15px,.75em,20px);
	}
	div.footnotes {
		padding: unset;
		text-align:start;
		figure {
			inline-size:100%;
			max-inline-size: 100%;
			margin-inline-start: 0;
			text-align:revert;
			float: none}
		>ol>li {
			margin-inline-start:var(--main-inline-margin);
			>p:first-child {display:inline}}
	}
	p {	margin-block: 10px;
		text-wrap:pretty;
		white-space:pre-line;
		main * &:last-child {margin-block:unset}}
	svg, img {
		transition: filter .5s;
		inline-size:100%;
		block-size: auto;
		object-fit: contain;
		vertical-align: middle;
		grid-column: 1 / span 2;
		anchor-name: --anch-img;}
	figcaption {
		div {font-style:italic}
		text-box: trim-start cap alphabetic;
		text-align: end;
		>*{text-wrap:balance;
			display:flow;
			contain:inline-size}}
	span {
		font-size: smaller;
		grid-row:3;
		grid-column:1;
		overflow-wrap: anywhere;
		:is(&:has(+cite),cite+&)::after { content: ", "}}
	div{text-align:center;
		grid-column: 1 / span 2}
	cite {
		grid-row:3;
		font-size: smaller;
		padding-block-end: 2px}
	figure {
		block-size:auto;
		padding: 0;
		contain: layout paint;
		float:inline-end;
		clear: inline-end;
		&:has(blockquote) {inline-size: 50%}
		&:has(img) {
			display:grid;
			outline : var(--frame);
			figcaption {display:contents}}
		&:not(:has(cite+span)) :is(span,cite) {grid-column: span 2}}
	sup a {
		outline: thin solid currentColor;
		color: revert;text-decoration:unset;
		&::after {content:"↓";color:inherit}}
	a[rel^="external"][aria-label]::after, sup[id] {
		background:inherit;
		font-weight:1000;
		padding-inline:1px;
		font-size:small;
		vertical-align:super;
		line-height:0}
	mark {box-decoration-break: clone}
	h1{font-size: clamp(16px,5cqi,35px);
		margin:auto;
		outline: var(--frame);
		text-box: trim-start cap alphabetic;
		line-height:1;
		font-variant: small-caps;
		text-align:center;
		background: canvas;
		padding: 5px}
	h2{ font-size:1.8em;
		font-variant: small-caps;
		counter-increment:h2;
		counter-reset:h3}
	h2::before{content:counter(h2, upper-alpha)". "}
	h3{ font-size:1.2em;
		counter-increment:h3}
	h3::before{	content:counter(h3, decimal)". "}
	blockquote h3, h4{	font-weight: 1000;
	  	font-size: smaller}	
	[role=doc-noteref]{cursor:s-resize}
	blockquote {
		margin: unset;
		font-size:.9em;
		font-style:italic;
		text-align:start;
		border-inline-start: medium dashed var(--emphasis-color);
		>*{padding-inline-start:var(--main-inline-margin)}}
	strong, em {color: var(--emphasis-color)}
	.fake-buttons {
		padding: unset;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		text-align:center;
		li {display:contents}
		a {text-decoration:none;
			outline: var(--frame);
			min-inline-size:11ch}
	}
	abbr, dfn {
		cursor:help;
		text-decoration:underline dotted var(--emphasis-color);
		text-decoration-thickness: 5px; }
	abbr::before {
		font-weight:bolder;
		text-transform : capitalize}
	a[data-emoji]::before {
		font:emoji;
		content: attr(data-emoji);
		float:inline-end;
		text-align:center}
	:is(h2,h3,h4) {
		margin-block: .4rem;
		color: var(--emphasis-color);
		&:target {
			scroll-margin-block-start: var(--height-header);
  			animation: blinking .5s ease 5}}
	:is(h1,h2,h3,h4) a, a {text-decoration:unset;color:unset;cursor:revert}
	[role="doc-backlink"] {text-underline-position: from-font}
	figure:is(:hover,:focus-within)>a {z-index:1}
	figure>a:is(:hover,:focus-visible)::after {color:initial;scale: 2}
}
:is(h1,h2,h3,h4):has(a:is(:hover,:focus-visible)), header li:has(>a:is(:hover,:focus-visible)), :where(button,input,dfn,abbr,label,a):is(:hover,:focus-visible), label:has(input:checked) {
	background: canvasText;
	color: canvas;
	forced-color-adjust: preserve-parent-color;
	*,&::after {color:inherit}
}
@keyframes blinking {50% {text-decoration:underline;color: var(--target-heading)}}
img:is(:hover,:focus-visible) {filter:invert(1)}
form:not(:has(:checked))>input[checked], input:checked {outline: var(--frame);outline-offset:0;}
img+a::after {
	background: white;
	color: black !important;
	content: "🖼	";
	z-index:-1;
	line-height:1;
	position: absolute;
	transition: .5s scale;
	font-size:1.5em;
  	text-box: trim-both;
	position-area: center;
	position-anchor: --anch-img;}
	
:is(a[aria-label],[title]) {
	anchor-scope: --link-anchor;
	anchor-name: --link-anchor;
	&::before {:is(a[aria-label],[title]) {
		anchor-scope: --link-anchor;
		anchor-name: --link-anchor;
		&::before {
		    content: attr(title, attr(aria-label));
		    position: absolute;
		    position-try-fallbacks: flip-block;
		    z-index: 1;
		    text-wrap: balance;
		    text-align: center;
		    background: var(--emphasis-color);
		    color: canvas;
		    position-anchor: --link-anchor;
		    inset: auto 0 anchor(--link-anchor top) auto;
		    inline-size: anchor-size(--main-anchor);
		    forced-color-adjust: preserve-parent-color;
		    visibility:hidden;
		    box-sizing:border-box;
		    padding:3px;
		    opacity:0;
		    translate: 0 1lh; 
		    pointer-events:none;
		    transition: opacity .5s,translate .5s ease-out, visibility .5s 0s}
		&:where(:hover, :focus-visible)::before {
	    	opacity:1;
			visibility:visible;
			translate:unset}
		:is(header, figure)>&::before {
			inline-size: anchor-size(--anch-img inline);
			inset-block-end: anchor(--anch-img bottom)}}
	    content: attr(title, attr(aria-label));
	    position: absolute;
	    position-try-fallbacks: flip-block;
	    z-index: 1;
	    text-wrap: balance;
	    text-align: center;
	    background: var(--emphasis-color);
	    color: canvas;
	    position-anchor: --link-anchor;
	    inset: auto 0 anchor(--link-anchor top) auto;
	    inline-size: anchor-size(--main-anchor);
	    forced-color-adjust: preserve-parent-color;
	    visibility:hidden;
	    box-sizing:border-box;
	    padding:3px;
	    opacity:0;
	    translate: 0 1lh; 
	    pointer-events:none;
	    transition: opacity .5s,translate .5s ease-out, visibility .5s 0s}
	&:where(:hover, :focus-visible)::before {
    	opacity:1;
		visibility:visible;
		translate:unset}
	&:focus-visible::before {transition-delay: .2s}
	:is(header, figure)>&::before {
		inline-size: anchor-size(--anch-img inline);
		inset-block-end: anchor(--anch-img bottom)}}
:is([type*="video"],[type*="gif"])+a::after { content: '📹'}
*:focus-visible {outline:none}
@view-transition {navigation: auto}
@container body (width <= 300px) {
	table {
		margin:auto;
		writing-mode: vertical-rl}
	figure {
		inline-size: 100%;
		float:none}
	ul.center {grid:revert}
}
@container body (width <= 600px) {
	figure:has(blockquote) {
		float: none;
		inline-size: 100% }
	a[aria-label]::before {--offset: 1lh 0}
	main>header {
		& ~ * { transition: all .5s; }
		position: sticky;
		z-index: 1;
		inset-block-start: 0;
		> input { display: block;inline-size:unset}}
	body>header {
		&::scroll-button(*) {visibility:hidden}
		position: fixed;
		background: canvas;
		margin-block-start: var(--height-header);
		max-block-size: calc(100cqb - var(--height-header));
		inline-size: min(5.8cm, 100cqi);
		place-self: anchor-center;
		opacity: 0; scale: 0;
		z-index: 1;
		transition: opacity 0.5s ease, scale 0.5s ease}
	&:has(#showmenu:checked) {
		main>header~* { opacity: 0.2; }
		body>header {
			&::scroll-button(*) {visibility:revert}
			pointer-events: auto;
			opacity: 1;
			scale: 1
		}
	}
}
@media screen and (prefers-reduced-motion: reduce) {*::before,*::after {transition: none;animation:none}}
@media print {
	@page {
	    size: A4 portrait;
	    margin: 20mm}
	* {padding-inline:0}
	body {
		outline: none;
		display:unset;
		block-size:100%;
		inline-size:100%;
		font-size: 15px;
		clear:inline-end}
	p {display}
	img {z-index:1}
	img+a {display:none}
	figure[aria-label] {
		display:grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-flow: row;
		label {display:none}
		figure {display:revert;grid-column:unset}
		figcaption {display:revert}}
	figcaption div {border: var(--frame)}
	a {text-decoration:unset}
	figure {
		outline:unset;
		break-inside:avoid}
	h1 {font-size:unset}
	img[src] {background:unset}
	[title]::after {
		content: counter(externalEmptyCounter);
		outline: thin solid currentColor}
	html {
		color-scheme:only light;
		--color-link: black;
		--visited: black;
		--theme: light}	
	html main input, body>header {display:none}
	*::after,*::before {color:unset}
	[aria-label],[title] {counter-increment:externalEmptyCounter}
	:is([aria-label],[title])::before{
		z-index:1;
		max-inline-size: 40%;
		break-inside:avoid;
		position:relative;
		border: var(--frame);
		text-wrap: balance;
		font-size: smaller;
		text-align:unset;
		float:inline-end;
		clear:inline-end;}
	[title]::before {content: counter(externalEmptyCounter)". "attr(title)}
	[aria-label]::before {content: counter(externalEmptyCounter)". "attr(aria-label)" :\a"attr(href)}
}

